$run-red: #dc143c;
$run-white: #f8f8ff;
$run-black: #000000;
$menu-item-hover-color: $run-white;
$menu-item-hover-background-color: $run-black;
$button-background-color: $run-red;
$button-color: $run-white;
$button-hover-color: none;
$footer-background-color: white;

//Section
.group-description {
  margin-top: 2rem;
}
.title-header{
  margin-bottom: 5rem;
}
//Layout
.layout-base {
  height: 100vh;
}
//login form
.login-base {
  min-height: 100vh;
}
.sign-up-link {
  color: $run-black;
  padding-top: 1rem;
}
.error-pass {
  margin-top: 1rem;
}

@import "~@fortawesome/fontawesome-free/css/fontawesome.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~bulma/bulma";
